* {
  margin: 0;
}

.app{
  background-color: #fafafa;
  height: 100%;
}

.app__mainpage{
  display: flex;
  justify-content: space-between;
}

.app__createpost{
  width: 400px;
}

.app__posts{
  padding: 20px;
  display: flex;
  justify-content: center;
}

/* .app__postsRight{
  margin-left: 20px;
} */

.app__header{
  /* height: 50px; */
  position: sticky;
  top:0;
  z-index: 1;
  background-color: white;
  padding: 20px;
  object-fit: contain;
  border-bottom: 1px solid lightgray;
  display: flex;
  justify-content: space-between;
}

.app__headerImage{
  width: 150px;
  height: 50px;
  object-fit: contain;
}

.app__signup{
  display: flex;
  flex-direction: column;
}